* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

#root {
  height: 100%;
}

.container {
  width: 100%;
  max-width: none;
  height: 100%;
  padding: 10vh 20px 0;
  transition: 1s background-color;
}

.wrapper {
  position: relative;
  left: 50%;
  max-width: 700px;
  min-height: 350px;
  padding: 20px;
  transform: translateX(-50%);
  border-radius: 10px;
  background-color: #ccc;
}

.wrapper button {
  position: absolute;
  bottom: 20px;
}

.social {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.btn {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
}

a {
  color: #007bff;
}
